<% layout('layouts/main') %>
<h1><%= role.name %></h1>
<a href="/roles/<%= role.id %>/edit">Edit</a>
<form action="/roles/<%= role.id %>?_method=DELETE" method="POST" style="display: inline-block;">
  <button type="submit">Delete</button>
</form>
